body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
}

.HeaderImg {
    background-image: url("../img/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
}

h1 {
    padding-top: 10vh;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.5em;
}

header p {
    padding-bottom: 3em;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: white;
    border: 1px solid #666;
    background: #333;
    padding: 1em 2em;
}