body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
}

.HeaderImg {
    background-image: url("../img/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
}

h1 {
    padding-top: 10vh;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.5em;
}

header p {
    padding-bottom: 3em;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: white;
    border: 1px solid #666;
    background: #333;
    padding: 1em 2em;
}

.WhiteSection {
    color: black;
    padding-bottom: 30px;
    background: #eaeaea;
}

h2 {
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.5em;
}

.Columns {
    columns: 2;
    column-gap: 2em;

}

.Container {
    margin-left: 25%;
    margin-right: 25%;
}

.Card {
    display: inline-block;
    max-height: 550px;
    height: 100%;
    min-height: 500px;
    width: 270px;
    background: white;
    color: black;
    margin: 30px 10px;
}

.Card img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.cardContent {
    padding: 1.5em;
}
.Card h3 {
    font-size: 1.17em;
    font-weight: bold;
    padding: 1em 0;
}

.digitalSection {
    background: white;
    color: black;
    padding: 2em;
}